.backimage{
    background-image: url('netflixbackImage.jpg');
    background-size: cover;
}
.backColor{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 700px;
    color: white;
    font-family: Arial; 
    margin-top: -100px;
}
.containerss{
    background-color: black;
    margin-top: -25px;
} 
.freaskquestion
{
    margin-top: 60px;
}
.accordion-flush .accordion-item .accordion-button {
    padding: 20px;
    color: white;
    font-size: 25px;
    background-color: hsl(0, 0%, 19%); 
    border: 1px solid rgb(12, 12, 12); 

}
.accordion-body {
    background-color: #303030;
    color: white;
    font-size: 25px;  
} 
.footer{
    background-color: black;
    color: gray;
    margin-top: -25px;
}
.signinbgimage{
    background-image: url('netflixbackImage.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}
.signinFooter{
    background-image: url('signinbgForm.jpg');
    background-size: cover; 
} 
.Footer{
    background-color: rgba(0,0,0,0.8);
    width: 100%; 
    color: gray;
    font-family: Arial; 
    margin-top: -25px; 
}  
 .margintop{ 
    background-color: rgba(0,0,0,0.5);
    /* margin-bottom: -25px; */
 }
 .margintopsss{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: -25px;
 }

.Signform{ 
    text-align: center;
    color: white; 
    background-color: rgba(0,0,0,0.8);
    /* margin-bottom: -25px; */
    min-height: auto;
    border: 0px solid rgb(119, 110, 110);
    width: 450px;
    padding: 60px;  
    margin-left: 40%;
}  
input{
    border: none;
    /* border-bottom: 2px solid #e87c03; */
    border-radius:0%; 
    background-color: #303030;
}
   